<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f8923fcc-c280-44b7-be22-19e5beb1029e/resourcegroups/AppService-Azure20220522112457ResourceGroup/providers/Microsoft.ContainerRegistry/registries/Models20220823113810</ResourceId>
    <ResourceName>Models20220823113810</ResourceName>
    <ResourceGroup>AppService-Azure20220522112457ResourceGroup</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription – MPN</Subscription>
    <RegistryUrl>https://models20220823113810.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>